<%= javascript_include_tag 'ckeditor/ckeditor' %>
<div class="form">
<p>
  <span class="req">max 100 symbols</span>
  <label>Title <span>(Required Field)</span></label>
  <%= form.text_field :title, :class => "field size1" %>
</p>	
<p>
  <label>Description</label>
  <%= form.cktext_area :description, :class => "field size4" %>
</p>		
<p>
  <span class="req">max 100 symbols</span>
  <label>Start Price</label>
  <%= form.text_field :start_from_price, :class => "field size1" %>
</p>	
<p>
  <label>Image</label>
  <%= form.file_field :image %>
</p>

        
</div>