<div class="shell">
  <!-- Small Nav -->
  <div class="small-nav">
          <a href="#">Dashboard</a>
          <span>&gt;</span>
          Hotels
  </div>
  <!-- End Small Nav -->
  <br />
  <!-- Main -->
  <div id="main">
    <div class="cl">&nbsp;</div>

    <!-- Content -->
    <div id="content">
      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2 class="left">Hotels</h2>
          <div class="right">
            <label>search last minute offer</label>
            <input type="text" class="field small-field" />
            <input type="submit" class="button" value="search" />
          </div>
        </div>
        <!-- End Box Head -->	
          <!-- Table -->
          <div class="table">
            <%= form_tag(update_order_admin_last_minute_offers_path, :id => "sort-grouping-form", :method => :put) do %>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th width="13"></th>
                <th width="13"><input type="checkbox" class="checkbox" /></th>
                <th>Title</th>
                <th>Start Price</th>
                <th>Hits</th>
                <th width="110" class="ac">Content Control</th>
              </tr>
              <tbody id="grouping-sortables">
              <% @last_minute_offers.each do |last_minute_offer| %>
                <%= content_tag_for(:tr, last_minute_offer, :class=> "#{cycle("", "odd")}") do %>
                  <td class="handle">
                    <img src="/images/admin/sort.png" alt="grab to sort" />
                    <%= hidden_field_tag "order[]", last_minute_offer.id %>
                  </td>
                  <td class="status">
                    <% if last_minute_offer.is_highlighted %>
                      <%= link_to "de-activate", update_status_admin_last_minute_offers_path(last_minute_offer,
                              :is_highlighted => false), :method => :put,
                              :class => 'action-deactivate', :title => 'Status: Active. Click to deactivate.'
                      %>
                    <% else %>
                      <%= link_to "activate", update_status_admin_last_minute_offers_path(last_minute_offer,
                              :is_highlighted => true), :method => :put,
                              :class => 'action-activate', :title => 'Status: Inactive. Click to activate.'
                      %>
                    <% end %>
                  </td>
                  <td><h3><%= link_to last_minute_offer.title, admin_last_minute_offer_path(last_minute_offer) %></td>
                  <td><%= last_minute_offer.start_from_price %></td>
                  <td>(<%= last_minute_offer.impressionist_count %>)</td>
                  <td>
                    <%= link_to 'Delete', admin_last_minute_offer_path(last_minute_offer), :confirm => 'Are you sure?', :method => :delete, :class => 'ico del', :title => 'Delete last_minute_offer'%>
                    <%= link_to 'Edit', edit_admin_last_minute_offer_path(last_minute_offer), :class => 'ico edit', :title => 'Edit last_minute_offer' %>
                  </td>
                <% end %>
              <% end %>
              </tbody>
            </table>

            <!-- Pagging -->
            <div class="pagging">
              <%= paginate @last_minute_offers %>
            </div>
            <!-- End Pagging -->
            <% end %>
          </div>
          <!-- Table -->
      </div>
      <!-- End Box -->
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
    <div id="sidebar">
      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2>Management</h2>
        </div>
        <!-- End Box Head-->
        <div class="box-content">
          <%= link_to(content_tag(:span, "Add new L.M Offer"), new_admin_last_minute_offer_path, :class => 'add-button') %>
          <div class="cl">&nbsp;</div>
          <p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
          <p><a href="#">Delete Selected</a></p>
          <!-- Sort -->
          <div class="sort">
            <label>Sort by</label>
            <select class="field">
                    <option value="">Title</option>
            </select>
            <select class="field">
                    <option value="">Date</option>
            </select>
            <select class="field">
                    <option value="">Author</option>
            </select>
          </div>
          <!-- End Sort -->
        </div>
      </div>
      <!-- End Box -->
    </div>
    <!-- End Sidebar -->

    <div class="cl">&nbsp;</div>			
  </div>
  <!-- Main -->
</div>