<%= javascript_include_tag 'ckeditor/ckeditor' %>
<div class="form">
<%= form.fields_for :main_tour_image do |main_tour_image|%>
  <p>
    <label>Main Image</label>
    <%= main_tour_image.file_field :attachment %>
    <% unless main_tour_image.object.attachment.nil? %>
      <%= image_tag(main_tour_image.object.attachment.url, :width=>'75px') %>
    <% end %>
  </p>
<% end %>
<p>
  <span class="req">max 100 symbols</span>
  <label>Name <span>(Required Field)</span></label>
  <%= form.text_field :name, :class => "field size1" %>
</p>	
<p>
  <span class="req">max 100 symbols</span>
  <label>Overview <span>(Required Field)</span></label>
  <%= form.text_field :overview, :class => "field size1" %>
</p>
<p>
  <label>Itinerary <span>(Required Field)</span></label>
  <%= form.cktext_area :itinerary, :class => "field size1" %>
</p>
<p>
  <label>Included <span>(Required Field)</span></label>
  <%= form.text_area :included, :class => "field size1" %>
</p>
<p>
  <label>Not Included <span>(Required Field)</span></label>
  <%= form.text_area :not_included, :class => "field size1" %>
</p>
<p>
  <label>Prices<span>(Required Field)</span></label>
  <%= form.text_area :prices, :class => "field size1" %>
</p>
<p>
  <label>Tour Images</label><%= link_to "Add New", "javascript:void(0);", :class => "add_new_tour_image" %>
</p>
<%= form.fields_for :tour_images do |tour_image|%>
  <div class="tour_image">
    <p>
      <%= tour_image.file_field :attachment %>
      <% if File.exist?("#{tour_image.object.attachment.path}") %>
        <%= image_tag(tour_image.object.attachment.url, :width=>'75px') %>
      <% end %>
    </p>
  </div>
<% end %>
</div>