<div class="shell">
  <!-- Small Nav -->
  <div class="small-nav">
          <a href="#">Dashboard</a>
          <span>&gt;</span>
          tours
  </div>
  <!-- End Small Nav -->
  <br />
  <!-- Main -->
  <div id="main">
    <div class="cl">&nbsp;</div>

    <!-- Content -->
    <div id="content">
      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2 class="left"><%= @category.name %></h2>
          <div class="right">
            <label>search tour</label>
            <input type="text" class="field small-field" />
            <input type="submit" class="button" value="search" />
          </div>
        </div>
        <!-- End Box Head -->	
          <!-- Table -->
          <div class="table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th width="13"><input type="checkbox" class="checkbox" /></th>
                <th>Name</th>
                <th>Hits</th>
                <th width="110" class="ac">Content Control</th>
              </tr>
              <% @tours.each do |tour| %>
                <%= content_tag_for(:tr, tour, :class=> "#{cycle("", "odd")}") do %>
                 <td><input type="checkbox" class="checkbox" /></td>
                  <td><h3><%= link_to tour.name, admin_category_tour_path(tour.category, tour) %></td>
                  <td><h3>(<%= tour.impressionist_count %>)</td>
                  <td>
                    <%= link_to 'Delete', admin_category_tour_path(tour.category, tour), :confirm => 'Are you sure?', :method => :delete, :class => 'ico del', :title => 'Delete tour'%>
                    <%= link_to 'Edit', edit_admin_category_tour_path(tour.category, tour), :class => 'ico edit', :title => 'Edit tour' %>
                  </td>
                <% end %>
              <% end %>
            </table>

            <!-- Pagging -->
            <div class="pagging">
              <%= paginate @tours %>
            </div>
            <!-- End Pagging -->
          </div>
          <!-- Table -->
      </div>
      <!-- End Box -->
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
    <div id="sidebar">
      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2>Management</h2>
        </div>
        <!-- End Box Head-->
        <div class="box-content">
          <%= link_to(content_tag(:span, "Add new tour"), new_admin_category_tour_path, :class => 'add-button') %>
          <div class="cl">&nbsp;</div>
          <p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
          <p><a href="#">Delete Selected</a></p>
          <!-- Sort -->
          <div class="sort">
            <label>Sort by</label>
            <select class="field">
                    <option value="">Title</option>
            </select>
            <select class="field">
                    <option value="">Date</option>
            </select>
            <select class="field">
                    <option value="">Author</option>
            </select>
          </div>
          <!-- End Sort -->
        </div>
      </div>
      <!-- End Box -->
    </div>
    <!-- End Sidebar -->

    <div class="cl">&nbsp;</div>			
  </div>
  <!-- Main -->
</div>