<%= content_for :page_specific_javascript do %>
  <script>
    $(document).ready(function() {
      $("#tabs").tabs();
		
    });
  </script>
	<%= javascript_include_tag "admin/../tours.js.coffee" %>
<% end %>

<!-- Small Nav -->
<div class="small-nav">
        <a href="#">Dashboard</a>
        <span>&gt;</span>
        Tour
</div>
<!-- End Small Nav -->

<br />
<!-- Main -->
<div id="main">
        <div class="cl">&nbsp;</div>

        <!-- Content -->
        <div id="content">
          <!-- Box -->
          <div class="box">
            <!-- Box Head -->
            <div class="box-head">
              <h2 class="left"><%= @tour.name %></h2>
              <div class="right">
                <%= link_to 'Delete', admin_tour_path(@tour), :confirm => 'Are you sure?', :method => :delete, :class => 'ico del', :title => 'Delete tour'%>
                <%= link_to 'Edit', edit_admin_tour_path(@tour), :class => 'ico edit', :title => 'Edit tour' %>
              </div>
            </div>
            <!-- End Box Head -->
            <div>
              <h2>Overview</h2>
              <p><%= @tour.overview.html_safe %></p>
            </div><br/>
						
						<div id="tabs">
              <ul>
                <li><a href="#tabs-1">ITINERARY</a></li>
                <li><a href="#tabs-2">INCLUDED</a></li>
                <li><a href="#tabs-3">NOT INCLUDED</a></li>
                <li><a href="#tabs-4">PRICES</a></li>
                <li><a href="#tabs-5">PHOTOS</a></li>
              </ul>
              <div id="tabs-1">
                <%= @tour.itinerary.html_safe %>
              </div>
              <div id="tabs-2">
                <%= @tour.included.html_safe %>
              </div>
              <div id="tabs-3">
                <%= @tour.not_included.html_safe %>
              </div>
              <div id="tabs-4">
                <%= @tour.prices.html_safe %>
              </div>
              <div id="tabs-5">
                <div id="tour_images_photos" class="col eight leftmargin">
                  <% @tour.tour_images.each do |tour_image| %>
                    <div class="simple-photo">
                      <div class="photo-wrapper">
                        <%= image_tag(tour_image.attachment.url(:original), :width => "138px", :height => "121px") %>
                      </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
						
						
						
<!-- 				UNCOMMENT THIS WHEN READY FOR USING TOUR DAYS. REMOVE PREVIOUS TABS
									<%# @tour.tour_days.each do |tour_day| %>
								<div class="col nine tour-day">
									<%#= link_to "+ #{tour_day.day_name}", "#", :class => "contracted-link day-name" %>
									<p class="hidden-field"><%#= tour_day.description %></p>
								</div>
							<%# end %>

						
						<div class="col nine">
							<label>Included:</label> <%#= @tour.included.html_safe %>
						</div>
						
						<div class="col nine">
							<label>Not Included:</label> <%#= @tour.not_included.html_safe %>
						</div>
						
						<div class="col nine">
							<label>Prices:</label> <%#= @tour.prices.html_safe %>
						</div>
						
            <div id="tour_images_photos" class="col eight leftmargin">
              <%# @tour.tour_images.each do |tour_image| %>
                <div class="simple-photo">
                  <div class="photo-wrapper">
                    <%#= image_tag(tour_image.attachment.url(:original), :width => "138px", :height => "121px") %>
                  </div>
              </div>
              <%# end %>
            </div> -->
						
            
          </div>
          <!-- End Box -->
        </div>
        <!-- End Content -->
        <!-- Sidebar -->
        <div id="sidebar">
          <!-- Box -->
          <div class="box">
            <!-- Box Head -->
            <div class="box-head">
              <h2>Management</h2>
            </div>
            <!-- End Box Head-->
            <div class="box-content">
              <%= link_to(content_tag(:span, "Add new tour"), new_admin_tour_path, :class => 'add-button') %>
              <div class="cl">&nbsp;</div>
            </div>
          </div>
          <!-- End Box -->
        </div>
        <!-- End Sidebar -->

        <div class="cl">&nbsp;</div>			
</div>
<!-- Main -->
	