<!-- Small Nav -->
<div class="small-nav">
        <a href="#">Dashboard</a>
        <span>&gt;</span>
        Banner
</div>
<!-- End Small Nav -->

<br />
<!-- Main -->
<div id="main">
        <div class="cl">&nbsp;</div>

        <!-- Content -->
        <div id="content">
          <!-- Box -->
          <div class="box">
            <!-- Box Head -->
            <div class="box-head">
              <h2 class="left"><%= @banner.title %></h2>
              <div class="right">
                <%= link_to 'Delete', admin_banner_path(@banner), :confirm => 'Are you sure?', :method => :delete, :class => 'ico del', :title => 'Delete banner'%>
                <%= link_to 'Edit', edit_admin_banner_path(@banner), :class => 'ico edit', :title => 'Edit banner' %>
              </div>
            </div>
            <!-- End Box Head -->
            
            <dl class="show">
		      <dt>Image</dt>
			  <dd><%= image_tag(@banner.banner_image.attachment.url(:original), :width=>'250px') %></dd>
			  <dt>Description</dt>
			  <dd><%= @banner.description.html_safe %></p></dd>
            </dl>
            
          </div>
          <!-- End Box -->
        </div>
        <!-- End Content -->
        <!-- Sidebar -->
        <div id="sidebar">
          <!-- Box -->
          <div class="box">
            <!-- Box Head -->
            <div class="box-head">
              <h2>Management</h2>
            </div>
            <!-- End Box Head-->
            <div class="box-content">
              <%= link_to(content_tag(:span, "Add new banner"), new_admin_banner_path, :class => 'add-button') %>
              <div class="cl">&nbsp;</div>
            </div>
          </div>
          <!-- End Box -->
        </div>
        <!-- End Sidebar -->

        <div class="cl">&nbsp;</div>			
</div>
<!-- Main -->
	