<div class="shell">
  <!-- Small Nav -->
  <div class="small-nav">
          <a href="#">Dashboard</a>
          <span>&gt;</span>
          Private Services
  </div>
  <!-- End Small Nav -->
  <br />
  <!-- Main -->
  <div id="main">
    <div class="cl">&nbsp;</div>

    <!-- Content -->
    <div id="content">
      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2 class="left">Private Services</h2>
          <div class="right">
            <label>search Private Service</label>
            <input type="text" class="field small-field" />
            <input type="submit" class="button" value="search" />
          </div>
        </div>
        <!-- End Box Head -->	
          <!-- Table -->
          <div class="table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th width="13"><input type="checkbox" class="checkbox" /></th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th width="110" class="ac">Content Control</th>
              </tr>
              <% @private_services.each do |private_service| %>
                <%= content_tag_for(:tr, private_service, :class=> "#{cycle("", "odd")}") do %>
                 <td><input type="checkbox" class="checkbox" /></td>
                  <td><h3><%= link_to private_service.name, admin_private_service_travel_packages_path(private_service) %></td>
                  <td><%= private_service.country %></td>
                  <td><%= private_service.city %></td>
                  <td>
                    <%= link_to 'Delete', admin_private_service_path(private_service), :confirm => 'Are you sure?', :method => :delete, :class => 'ico del', :title => 'Delete Private Service'%>
                    <%= link_to 'Edit', edit_admin_private_service_path(private_service), :class => 'ico edit', :title => 'Edit Private Service' %>
                  </td>
                <% end %>
              <% end %>
            </table>

            <!-- Pagging -->
            <div class="pagging">
              <%= will_paginate(@private_services, :class => "right", :prev_label => "Previous", :next_label => "Next") %>
            </div>
            <!-- End Pagging -->
          </div>
          <!-- Table -->
      </div>
      <!-- End Box -->
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
    <div id="sidebar">
      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2>Management</h2>
        </div>
        <!-- End Box Head-->
        <div class="box-content">
          <%= link_to(content_tag(:span, "Add P. Service"), new_admin_private_service_path, :class => 'add-button') %>
          <div class="cl">&nbsp;</div>
          <p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
          <p><a href="#">Delete Selected</a></p>
          <!-- Sort -->
          <div class="sort">
            <label>Sort by</label>
            <select class="field">
                    <option value="">Title</option>
            </select>
            <select class="field">
                    <option value="">Date</option>
            </select>
            <select class="field">
                    <option value="">Author</option>
            </select>
          </div>
          <!-- End Sort -->
        </div>
      </div>
      <!-- End Box -->
    </div>
    <!-- End Sidebar -->

    <div class="cl">&nbsp;</div>			
  </div>
  <!-- Main -->
</div>