<% content_for :page_specific_javascript do %>
  <%= javascript_include_tag "admin/grouping_sort.js" %>
<% end %>
<div class="shell">
  <!-- Small Nav -->
  <div class="small-nav">
          <a href="#">Dashboard</a>
          <span>&gt;</span>
          standalone_pages
  </div>
  <!-- End Small Nav -->
  <br />
  <!-- Main -->
  <div id="main">
    <div class="cl">&nbsp;</div>

    <!-- Content -->
    <div id="content">
      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2 class="left">Standalone Pages</h2>
          <div class="right">
            <label>search standalone page</label>
            <input type="text" class="field small-field" />
            <input type="submit" class="button" value="search" />
          </div>
        </div>
        <!-- End Box Head -->	
          <!-- Table -->
          <div class="table">
            <%= form_tag(update_order_admin_standalone_pages_path, :id => "sort-grouping-form", :method => :put) do %>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <th width="13"></th>
                  <th>Name</th>
                  <th width="110" class="ac">Content Control</th>
                </tr>
                <tbody id="grouping-sortables">
                  <% @standalone_pages.each do |standalone_page| %>
                    <%= content_tag_for(:tr, standalone_page, :class=> "#{cycle("", "odd")}") do %>
                      <td class="handle">
                          <img src="/images/admin/sort.png" alt="grab to sort" />
                          <%= hidden_field_tag "order[]", standalone_page.id %>
                      </td>
                      <td><h3><%= link_to standalone_page.name, admin_standalone_page_path(standalone_page) %></td>

                      <td>
                        <%= link_to 'Delete', admin_standalone_page_path(standalone_page), :confirm => 'Are you sure?', :method => :delete, :class => 'ico del', :title => 'Delete standalone_page'%>
                        <%= link_to 'Edit', edit_admin_standalone_page_path(standalone_page), :class => 'ico edit', :title => 'Edit standalone_page' %>
                      </td>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            <% end %>
            <!-- Pagging -->
            <div class="pagging">
              <%= paginate @standalone_pages %>
            </div>
            <!-- End Pagging -->
          </div>
          <!-- Table -->
      </div>
      <!-- End Box -->
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
    <div id="sidebar">
      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2>Management</h2>
        </div>
        <!-- End Box Head-->
        <div class="box-content">
          <%= link_to(content_tag(:span, "Add new standalone_page"), new_admin_standalone_page_path, :class => 'add-button') %>
          <div class="cl">&nbsp;</div>
          <p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
          <p><a href="#">Delete Selected</a></p>
          <!-- Sort -->
          <div class="sort">
            <label>Sort by</label>
            <select class="field">
                    <option value="">Title</option>
            </select>
            <select class="field">
                    <option value="">Date</option>
            </select>
            <select class="field">
                    <option value="">Author</option>
            </select>
          </div>
          <!-- End Sort -->
        </div>
      </div>
      <!-- End Box -->
    </div>
    <!-- End Sidebar -->

    <div class="cl">&nbsp;</div>			
  </div>
  <!-- Main -->
</div>