<%= content_for :page_specific_javascript do %>
<%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>
  <script>
    $(document).ready(function() {
      $("#tabs").tabs();
    });
  </script>
<% end %>
<div id="main_information">
  <div id="information_content">
  <table width="956" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
    <td align="left" valign="top">
      <div class="left">
        <div class="path_navigation">
          <ul>
            <li><a href="#">Home</a></li>
          </ul>
        </div>
        <div class="maikhn_text">
          <h1>Contact Us</h1>
          <!-- Message Error -->
          <% if @contact_us.errors.any? %>
            <div class="msg msg-error">
               <% @contact_us.errors.full_messages.each do |msg| %>
                 <p><strong><%= msg %></strong></p>
               <% end %>
            </div>
          <% end %>
          <!-- End Message Error -->
          <%= form_for([@contact_us], :url => contact_us_path) do |f| %>
            <%= render :partial => "form", :object => f %>
            <div class="buttons">
                <%= f.submit "Save" %>
                <%= link_to "Cancel", "" %>
            </div>
          <% end %>
        </div>
      </div>
</td>
        <td align="left" valign="top">
          <div class="right">
            <div class="section_menu">
              <div class="section_menu_up">
              <h1>IN THIS SECTION</h1>
              </div>
            <div class="section_menu_middle">
              <ul>
                <%# @category.tours.each do |tour| %>
                  <li><%#= link_to tour.name, tours_path(tour.category.parent.name, tour.category, tour) %></li>
                <%# end %> 		    
              </ul>
            </div>
              <div class="section_menu_end"></div>
            </div>
            <%= render :template => "last_minute_offers/multiple_banners", :banners => @banners %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
