<%= content_for :page_specific_javascript do %>
  <script>
    $(document).ready(function() {
      $("#tabs").tabs();
    });
  </script>
<% end %>
<div id="main_information">
<div id="information_content">
<table width="956" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
        <td align="left" valign="top">
<div class="left">
<div class="path_navigation">
<ul>
                        <li><a href="#">Home</a></li>
                <li><a href="#">Peru Tours</a></li>
                        <li><a href="#">Cusco and Machu Picchu</a></li>                           		    
                </ul>
</div>
<div class="main_text">
<div id="code_share">
Share Code
</div>
  <h1><%= @tour.name %></h1>
          <h2>Overview</h2>
          <p><%= @tour.overview %></p>
          <div id="tabs">
            <ul>
              <li><a href="#tabs-1">ITINERARY</a></li>
              <li><a href="#tabs-2">INCLUDE</a></li>
              <li><a href="#tabs-3">NOT INCLUDE</a></li>
              <li><a href="#tabs-4">PRICES</a></li>
              <li><a href="#tabs-5">PHOTOS</a></li>
            </ul>
            <div id="tabs-1">
              <%= @tour.itinerary.html_safe %>
            </div>
            <div id="tabs-2">
              <%= @tour.included %>
            </div>
            <div id="tabs-3">
              <%= @tour.not_included %>
            </div>
            <div id="tabs-4">
              <%= @tour.prices %>
            </div>
            <div id="tabs-5">
              <h3>Tab Photos</h3>
              <p>Breakfast at the hotel. Transfer to station.. Train goes through<strong> Urubamba Valley,</strong> the Sacred Valley of the Incas, to the fabulous mountaintop ruins of Machu Picchu. Full day tour with lunch included.</p>
            </div>
          </div>                                            
  <h4>Sed nisl ante, mollis non convallis vel</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  <p>&nbsp;</p>
  <div class="book_now"><a href="#">BOOK NOW!</a>                                   	  </div>
</div>
</div>
</td>
        <td align="left" valign="top">
<div class="right">
<div class="section_menu">
<div class="section_menu_up">
<h1>IN THIS SECTION</h1>
</div>
<div class="section_menu_middle">
<ul>
                                <li><a href="#">Clasic Cusco</a></li>
                        <li><a href="#">Cusco & Machu Picchu</a></li>
                                <li><a href="#">Southern Cross</a></li>  
    <li><a href="#">Nazca Lines</a></li>                           		    
                        </ul>
</div>
<div class="section_menu_end"></div>
</div>
<div class="promotions">
        <div class="promotions_up">
<h1>GALAPAGOS PROMOTIONS</h1>
        </div>
<div class="promotions_middle">
<a href="#"><img src="photos/promotions.jpg" width="192" height="96" /></a>
<p><strong>Departure: Dic 201<br />
    $ 800 OFF </strong><br />
05-09 Dec 2011 (5D/ 4N)<br />
    12-16 Dec 2011 (5D/ 4N)</p>
<p><a href="#">Read More</a></p>
</div>
<div class="promotions_end"></div>
</div>
<div class="special_package">
<div class="special_package_title">
<h1><a href="#">Ecuador Tours</a></h1>
</div>
<div class="special_package_text">
        <a href="#"><img src="photos/ecuador_tours.jpg" width="220" height="93" border="0" /></a>
                <p>Personal travel planning in Ecuador  Tailor-made Ecuador tours. Let Andes-Conexion personalize your travel to the Highlands, Ecuador and Peru Amazon Rain Forest or the Coast of Ecuador!...</p>
<div class="read_more"><a href="#">Read More</a></div>
</div>						
<div class="special_package_end"></div>
</div>
</div>
</td>
        </tr>
</table>
</div>
              	</div>
