<%= content_for :page_specific_javascript do %>
  <script>
    $(document).ready(function() {
      $("#tabs").tabs();
    });
  </script>
<% end %>
<div id="main_information">
	<div id="information_content">
		<table width="956" border="0" align="center" cellpadding="0" cellspacing="0">
		  <tr>                     
   	     <td align="left" valign="top">
    		  <div class="left">
      		  <div class="path_navigation">
              <ul>
                <li><a href="/">Home</a></li>
                <li><%= link_to @tour.category.name, nested_categories_path(@tour.category.parent, @tour.category) %></li>
                <li><%= link_to @tour.name, "#" %></li>
              </ul>
            </div>
      		  <div class="main_text">
        		  <h1><%= @tour.name %></h1>
        		  <h2>Overview</h2>
        		  <p><%= @tour.overview %></p>
        		  <div id="tabs">
        		    <ul>
        		      <li><a href="#tabs-1">ITINERARY</a></li>
        		      <li><a href="#tabs-2">INCLUDED</a></li>
        		      <li><a href="#tabs-3">NOT INCLUDED</a></li>
                  <li><a href="#tabs-4">PRICES</a></li>
                  <li><a href="#tabs-5">PHOTOS</a></li>
                </ul>
                <div id="tabs-1">
                  <%= @tour.itinerary.html_safe %>
                </div>
                <div id="tabs-2">
                  <%= @tour.included %>
                </div>
                <div id="tabs-3">
                  <%= @tour.not_included %>
                </div>
                <div id="tabs-4">
                  <%= @tour.prices %>
                </div>
                <div id="tabs-5">
                  <div id="tour_images_photos" class="col eight leftmargin">
                    <% @tour.tour_images.each do |tour_image| %>
                      <div class="simple-photo">
                        <div class="photo-wrapper">
                          <%= image_tag(tour_image.attachment.url(:original), :width => "138px", :height => "121px") %>
                        </div>
                    </div>
                    <% end %>
                  </div>
                  
                </div>
              </div>                                            
      		    <div class="book_now">
        		    <%= link_to "BOOK NOW!", contact_us_path %>
        		  </div>
      		  </div>
          </div>
    		</td>
		    <td align="left" valign="top">
          <div class="right">
            <div class="section_menu">
              <div class="section_menu_up">
              <h1>IN THIS SECTION</h1>
              </div>
            <div class="section_menu_middle">
              <ul>
                <% @tour.category.tours.each do |tour| %>
                  <li><%= link_to tour.name, tours_path(tour.category.parent, tour.category, tour) %></li>
                <% end %> 		    
              </ul>
            </div>
              <div class="section_menu_end"></div>
            </div>
            <%= render :template => "last_minute_offers/multiple_banners", :banners => @banners %>
          </div>
        </td>
      </tr>
		</table>
	</div>
</div>
