<%= javascript_include_tag 'ckeditor/ckeditor' %>
<div class="form">
<p>
  <span class="req">max 100 symbols</span>
  <label>Name <span>(Required Field)</span></label>
  <%= form.text_field :name, :class => "field size1" %>
</p>	
<p>
  <label>Description</label>
  <%= form.cktext_area :description, :class => "field size4" %>
</p>	
<p>
  <label>Country</label>
  <%= form.country_select(:country, ["Ecuador"]) %>
</p>	
<p>
  <span class="req">max 100 symbols</span>
  <label>City</label>
  <%= form.text_field :city, :class => "field size1" %>
</p>	
<p>
  <label>Image</label>
  <%= form.file_field :image %>
</p>

<%#*<p class="inline-field">%>
        <%#*<label>Date</label>%>
        <%#*<select class="field size2">%>
                <%#*<option value="">23</option>%>
        <%#*</select>%>
        <%#*<select class="field size3">%>
                <%#*<option value="">July</option>%>
        <%#*</select>%>
        <%#*<select class="field size3">%>
                <%#*<option value="">2009</option>%>
        <%#*</select>%>
<%#*</p>%>

        
</div>