<%= javascript_include_tag 'ckeditor/ckeditor' %>
<div class="form">
  <% if form.object.is_main_category? && params[:parent_cat].nil?%>
    <p>
      <table>
        <tr>
          <td><label>Show in homepage middle level?</label></td>
          <td>&nbsp;</td>
          <td>
            Yes <%= form.radio_button :is_present_in_middle_homepage, true %>
            No <%= form.radio_button :is_present_in_middle_homepage, false %>
          </td>
        </tr>
      </table>
    </p>
    <p>
      <table>
        <tr>
          <td><label>Show in homepage lower level?</label></td>
          <td>
            Yes <%= form.radio_button :is_present_in_lowerpage, true %>
            No <%= form.radio_button :is_present_in_lowerpage, false %>
          </td>
        </tr>
      </table>
    </p>
  <% end %>
  <p>
    <label>Image</label>
    <%= form.fields_for :category_image do |category_image|%>
      <%= category_image.file_field :attachment %>
      <% unless category_image.object.attachment.nil? %>
        <%= image_tag(category_image.object.attachment.url, :width=>'75px') %>
      <% end %>
    <% end %>
  </p>
  <p>
    <span class="req">max 100 symbols</span>
    <label>Name <span>(Required Field)</span></label>
    <%= form.text_field :name, :class => "field size1" %>
  </p>	
  <p>
    <label>Belongs to</label>
    <% unless params[:parent_cat].blank? %>
      <%= form.select :parent_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }, {:include_blank => true, :selected => params[:parent_cat]} %>
    <% else %>
      <%= form.select :parent_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }, {:include_blank => true} %>
    <% end %>
  </p>
  <p>
    <label>Description</label>
    <%= form.cktext_area :description, :class => "field size4" %>
  </p>
</div>