<% content_for :page_specific_javascript do %>
  <%= javascript_include_tag "jquery.bxSlider.min.js" %>
  <script>
    $(document).ready(function() {
      $('#slider1').bxSlider({
      infiniteLoop: false,
      hideControlOnEnd: true
      });
    });
  </script>
<% end %>
<div id="main_information">
  <div id="information_content">
    <table width="956" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top">
          <div class="left">
            <div class="path_navigation">
              <ul>
                <li><a href="/">Home</a></li>
                <li><%= link_to @category.name, first_level_category_path(@category) %></li>
              </ul>
            </div>
              <div class="main_text">
                <div id="code_share">
                Share Code
                </div>
                <h1><%= @category.name %></h1>
                <h2>Overview</h2>
                <p><%= @category.description.html_safe unless @category.description.nil? %></p>
                <ul id="slider1">
                  <% @category.children.each do |sub_category| %>
                    <% tour = sub_category.tours.first %>
                    <% unless tour.nil? %>
                      <li>
                        <div class="left">
                          <%= link_to tour.name, "" %>
                          <%= image_tag(tour.main_tour_image.attachment.url, :width => '150px', :height => "100px", :border => 0) %>
                        </div>
                        <div class="right">
                          <%= sub_category.description.html_safe %>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
  
                <h4>Sed nisl ante, mollis non convallis vel</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <p>&nbsp;</p>
                <div class="book_now">
                  <a href="#">BOOK NOW!</a>                                   
                </div>
              </div>
            </div>
        </td>
        <td align="left" valign="top">
          <div class="right">
            <div class="section_menu">
              <div class="section_menu_up">
              <h1>IN THIS SECTION</h1>
              </div>
            <div class="section_menu_middle">
              <ul>
                <% @category.children.order("sort_order asc").each do |sub_category| %>
                  <li><%= link_to sub_category.name, nested_categories_path(sub_category.parent, sub_category) %></li>
                <% end %> 		    
              </ul>
            </div>
              <div class="section_menu_end"></div>
            </div>
            <div class="promotions">
              <div class="promotions_up">
              <h1>GALAPAGOS PROMOTIONS</h1>
              </div>
              <div class="promotions_middle">
                <a href="#"><img src="photos/promotions.jpg" width="192" height="96" /></a>
                <p><strong>Departure: Dic 201<br />
                $ 800 OFF </strong><br />
                05-09 Dec 2011 (5D/ 4N)<br />
                12-16 Dec 2011 (5D/ 4N)</p>
                <p><a href="#">Read More</a></p>
              </div>
              <div class="promotions_end"></div>
            </div>
            <div class="special_package">
              <div class="special_package_title">
                <h1><a href="#">Ecuador Tours</a></h1>
              </div>
              <div class="special_package_text">
                <a href="#"><img src="photos/ecuador_tours.jpg" width="220" height="93" border="0" /></a>
                <p>Personal travel planning in Ecuador  Tailor-made Ecuador tours. Let Andes-Conexion personalize your travel to the Highlands, Ecuador and Peru Amazon Rain Forest or the Coast of Ecuador!...</p>
                <div class="read_more"><a href="#">Read More</a></div>
              </div>						
              <div class="special_package_end"></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>