<div class="form">
<div class="formfield seven">
	<label for="travel_package_name">Name <span>(required)</span></label>
	<%= form.text_field :name %>
<div class="formfield seven">
	<label for="travel_package_description">Description <span>(required)</span></label>
	<%= form.text_area :description %>
</div>
<div class="formfield seven">
	<label for="travel_package_country">Country <span>(required)</span></label>
	<%= form.text_field :country_id %>
</div>
<div class="formfield seven">
	<label for="travel_package_city">City<span>(required)</span></label>
	<%= form.text_field :city %>
<div class="formfield seven">
	<label for="travel_package_price">Price<span>(required)</span></label>
	<%= form.text_field :city %>
<div class="formfield seven">
	<label for="travel_package_sprice">Sale Price<span>(required)</span></label>
	<%= form.text_field :sale_price %>
</div>
</div>