<div class="shell">
		
		<!-- Small Nav -->
		<div class="small-nav">
			<a href="#">Dashboard</a>
			<span>&gt;</span>
			Travel Packages
		</div>
		<!-- End Small Nav -->
		
		
		<br />
		<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
                          <!-- Box -->
                          <div class="box">
                            <!-- Box Head -->
                            <div class="box-head">
                              <h2 class="left">Travel Packages</h2>
                              <div class="right">
                                <label>search travel package</label>
                                <input type="text" class="field small-field" />
                                <input type="submit" class="button" value="search" />
                              </div>
                            </div>
                            <!-- End Box Head -->	
                              <!-- Table -->
                              <div class="table">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <th width="13"><input type="checkbox" class="checkbox" /></th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>City</th>
                                    <th>Sale Price</th>
                                    <th width="110" class="ac">Content Control</th>
                                  </tr>
                                  <% @travel_packages.each do |travel_package| %>
                                    <%= content_tag_for(:tr, travel_package, :class=> "#{cycle("", "odd")}") do %>
                                     <td><input type="checkbox" class="checkbox" /></td>
                                      <td><h3><%= link_to travel_package.name, admin_travel_package_path(travel_package) %></td>
                                      <td><%= travel_package.country %></td>
                                      <td><%= travel_package.city %></td>
                                      <td><%= number_to_currency(travel_package.sale_price, :precision => 2) %></td>
                                      <td>
                                        <%= link_to 'Delete', admin_travel_package_path(travel_package), :confirm => 'Are you sure?', :method => :delete, :class => 'ico del', :title => 'Delete travel package'%>
                                        <%= link_to 'Edit', edit_admin_travel_package_path(travel_package), :class => 'ico edit', :title => 'Edit travel package' %>
                                      </td>
                                    <% end %>
                                  <% end %>
                                </table>

                                <!-- Pagging -->
                                <div class="pagging">
                                  <%= will_paginate(@travel_packages, :class => "right", :prev_label => "Previous", :next_label => "Next") %>
                                </div>
                                <!-- End Pagging -->
                              </div>
                              <!-- Table -->
                          </div>
                          <!-- End Box -->
			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar">
                          <!-- Box -->
                          <div class="box">
                            <!-- Box Head -->
                            <div class="box-head">
                              <h2>Management</h2>
                            </div>
                            <!-- End Box Head-->
                            <div class="box-content">
                              <%= link_to(content_tag(:span, "Add new Travel Package"), new_admin_travel_package_path, :class => 'add-button') %>
                              <div class="cl">&nbsp;</div>
                              <p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
                              <p><a href="#">Delete Selected</a></p>
                              <!-- Sort -->
                              <div class="sort">
                                <label>Sort by</label>
                                <select class="field">
                                        <option value="">Title</option>
                                </select>
                                <select class="field">
                                        <option value="">Date</option>
                                </select>
                                <select class="field">
                                        <option value="">Author</option>
                                </select>
                              </div>
                              <!-- End Sort -->
                            </div>
                          </div>
                          <!-- End Box -->
			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
<%#= render :action => "new" %>