<!-- Small Nav -->
<div class="small-nav">
        <a href="#">Dashboard</a>
        <span>&gt;</span>
        Travel Package
</div>
<!-- End Small Nav -->

<br />
<!-- Main -->
<div id="main">
        <div class="cl">&nbsp;</div>

        <!-- Content -->
        <div id="content">
          <!-- Box -->
          <div class="box">
            <!-- Box Head -->
            <div class="box-head">
              <h2 class="left"><%= @travel_package.name %></h2>
              <div class="right">
                <%= link_to 'Delete', admin_private_service_travel_packages_path(@private_service, @travel_package), :confirm => 'Are you sure?', :method => :delete, :class => 'ico del', :title => 'Delete travel package'%>
                <%= link_to 'Edit', edit_admin_private_service_travel_package_path(@private_service, @travel_package), :class => 'ico edit', :title => 'Edit travel package' %>
              </div>
            </div>
            <!-- End Box Head -->
            
            <dl class="show">
		<dt>Description</dt>
		<dd><%= @travel_package.description.html_safe %></p></dd>
		<dt>Country</dt>
		<dd><%= @travel_package.country %></p></dd>
		<dt>City</dt>
		<dd><%= @travel_package.city %></p></dd>
		<dt>Price</dt>
		<dd><%= number_to_currency(@travel_package.price, :precision => 2) %></p></dd>
		<dt>Sale Price</dt>
                <dd>
                  <% unless @travel_package.sale_price.blank? %>
                    <%= number_to_currency(@travel_package.sale_price, :precision => 2) %>
                  <% else %>
                    No Sale Price available.
                  <% end %>
                </p></dd>
		<dt>Image</dt>
		<dd><%= image_tag(@travel_package.image.url, :width=>'250px') %></dd>
                <dt>Algo</dt>
                <dd>
                <table class="pax-show">
                  <tr colspan =12> 
                    <th colspan=3 class="header-for-pax">Guide/Driver</th> 
                    <th colspan=9 class="header-for-pax">Guide &amp; Driver</th> 
                  </tr>
                  <tr colspan=12> 
                    <td>1 Pax</td>
                    <td>2 Pax</td>
                    <td class="cell-with-border">3 Pax</td>
                    <td>1 Pax</td>
                    <td>2 Pax</td>
                    <td>3 Pax</td>
                    <td>4 Pax</td>
                    <td>4-9 Pax</td>
                    <td>10-15 Pax</td>
                    <td>16-25 Pax</td>
                    <td>5-9 Pax</td>
                    <td>20-+ Pax</td>
                  </tr>
                  <tr colspan=12> 
                    <td><%= number_to_currency(@travel_package.one_pax_g_or_d, :precision => 2) %></td>
                    <td><%= number_to_currency(@travel_package.two_pax_g_or_d, :precision => 2) %></td>
                    <td class="cell-with-border"><%= number_to_currency(@travel_package.three_pax_g_or_d, :precision => 2)  %></td>
                    <td><%= number_to_currency(@travel_package.one_pax_g_and_d, :precision => 2) %></td>
                    <td><%= number_to_currency(@travel_package.two_pax_g_and_d, :precision => 2) %></td>
                    <td><%= number_to_currency(@travel_package.three_pax_g_and_d, :precision => 2) %></td>
                    <td><%= number_to_currency(@travel_package.four_pax_g_and_d, :precision => 2) %></td>
                    <td><%= number_to_currency(@travel_package.four_to_nine_pax, :precision => 2) %></td>
                    <td><%= number_to_currency(@travel_package.ten_to_fifteen_pax, :precision => 2) %></td>
                    <td><%= number_to_currency(@travel_package.sixteen_to_twentyfive_pax, :precision => 2) %></td>
                    <td><%= number_to_currency(@travel_package.five_to_nine_pax, :precision => 2) %></td>
                    <td><%= number_to_currency(@travel_package.twenty_more_pax, :precision => 2) %></td>
                  </tr>
                </table>
                  </dd>
            </dl>
            
          </div>
          <!-- End Box -->
        </div>
        <!-- End Content -->
        <!-- Sidebar -->
        <div id="sidebar">
          <!-- Box -->
          <div class="box">
            <!-- Box Head -->
            <div class="box-head">
              <h2>Management</h2>
            </div>
            <!-- End Box Head-->
            <div class="box-content">
              <%= link_to(content_tag(:span, "Add new Travel Package"), new_admin_private_service_travel_package_path, :class => 'add-button') %>
              <div class="cl">&nbsp;</div>
            </div>
          </div>
          <!-- End Box -->
        </div>
        <!-- End Sidebar -->

        <div class="cl">&nbsp;</div>			
</div>
<!-- Main -->
	