<div class="intros">
  <% @categories.middle_homepage_active.each do |category|%>
    <div class="intro_content">
      <div class="intro_content_title">
        <h1><%= link_to category.name, first_level_category_path(category) %></h1>
      </div>
      <div class="intro_content_text">
        <%= link_to first_level_category_path(category) do %>
          <%= image_tag(category.category_image.attachment.url(:original), :width => '227px', :height => "129px", :border => 0) unless category.category_image.nil? %>
        <% end %>
          <p><%= category.description.html_safe[0, 180] %>...</p>
        <ul>
          <% category.children.each do |sub_category| %>
            <li><%= link_to sub_category.name, nested_categories_path(sub_category.parent, sub_category) %></li>
          <% end %>
        </ul>
      </div>						
      <div class="intro_content_end"></div>
    </div>
  <% end %>
  
  
  <div class="special_packages">
    <% @categories.lower_homepage_active.each do |category|%>
      <div class="galapagos_tours">
        <div class="galapagos_tours_title">
        <h1><%= category.name %></h1>
        </div>
      <div class="galapagos_tours_middle">

          <% category.children.limit(2).each do |sub_category| %>
            <div class="galapagos_tours_text">
              <h2><%= link_to sub_category.name, nested_categories_path(sub_category.parent, sub_category) %></h2>
              <%= link_to image_tag(sub_category.category_image.attachment.url(:original), :width => "132px", :height => "70px", :border => 0), nested_categories_path(sub_category.parent, sub_category) unless sub_category.category_image.nil? %>
              <p><%= sub_category.description.html_safe[0, 217] %>...</p>
              <p><%= link_to "More Info ++", nested_categories_path(sub_category.parent, sub_category) %></p>                                    
            </div>
          <% end %>

      </div>
      <div class="galapagos_tours_end"></div>
      </div>
    <% end %>
    <div class="galapagos_last_minutes">
      <%= render :template => "last_minute_offers/show_some_last_minute_offers", :last_minute_offers => @last_minute_offers %>
    </div>
	  <%= render :template => "last_minute_offers/individual_banner", :banners => @banners %>	
  </div>
</div>