<div class="intros">
  <% @categories.homepage_active.each do |category|%>
    <div class="intro_content">
    <div class="intro_content_title">
      <h1><%= link_to category.name, "" %></h1>
    </div>
    <div class="intro_content_text">
      <a href="#"><%= image_tag(category.homepage_photo.url, :width => '227px', :height => "129px", :border => 0) %></a>
      <p><%= category.description.html_safe[0, 180] %>...</p>
      <ul>
        <% category.children.each do |sub_category| %>
          <li><%= link_to sub_category.name, "" %></li>
        <% end %>
      </ul>
    </div>						
      <div class="intro_content_end"></div>
    </div>
  <% end %>
  
  
  <div class="special_packages">
    <div class="galapagos_tours">
      <div class="galapagos_tours_title">
      <h1>Galapagos Tours</h1>
      </div>
    <div class="galapagos_tours_middle">
      <div class="galapagos_tours_text">
        <h2><a href="#">Land Based Tours</a></h2>
        <a href="#"><img src="/assets/photos/galapagos_tours1.jpg" width="132" height="76" border="0" /></a>
        <p>Flight from Quito or Guayaquil to San Cristobal (Galapagos). Upon arrival to the Island our...</p>
        <p><a href="#">More Info ++</a></p>                                    
      </div>
      <div class="galapagos_tours_text">
        <h2><a href="#">Galapagos Diving</a></h2>
        <a href="#"><img src="/assets/photos/galapagos_tours2.jpg" width="132" height="76" border="0" /></a>
        <p>The Deep Blue Galapagos Yacht is a first class Galapagos Diving Cruise. The services included...</p>
        <p><a href="#">More Info ++</a></p>
      </div>
    </div>
    <div class="galapagos_tours_end"></div>
    </div>
    <div class="galapagos_last_minutes">
      <%= render :template => "last_minute_offers/show_some_last_minute_offers", :last_minute_offers => @last_minute_offers %>
    </div>
    <div class="family_travel">
      <div class="family_travel_title">
        <h1><a href="#">Family Travel </a></h1>
      </div>
    <div class="family_travel_middle"> 
      <a href="#"><img src="/assets/photos/family_travel.jpg" width="198" height="146" border="0" /></a>
      <p>Nullam nunc est, egestas ac dapibus vitae, lobortis quis enim. Nulla sit amet massa felis, a iaculis augue. Morbi cursus porttitor pretium. Donec vel dolor nec ligula commodo lacinia.
      <a href="#">Read More</a></p>
    </div>
    <div class="family_travel_end"></div>
    </div>
  </div>
</div>